@font-face {
  font-family: "taobaowebicon"; /* Project id 4480420 */
  src: url('//at.alicdn.com/t/a/font_4480420_gv92h1xlzrt.woff2?t=1732245409336') format('woff2'),
       url('//at.alicdn.com/t/a/font_4480420_gv92h1xlzrt.woff?t=1732245409336') format('woff'),
       url('//at.alicdn.com/t/a/font_4480420_gv92h1xlzrt.ttf?t=1732245409336') format('truetype'),
       url('//at.alicdn.com/t/a/font_4480420_gv92h1xlzrt.svg?t=1732245409336#taobaowebicon') format('svg');
}

.taobaowebicon {
  font-family: "taobaowebicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taobaoda1:before {
  content: "\e68f";
}

.icon-taobaoda:before {
  content: "\e68e";
}

.icon-taobaojiacaigou:before {
  content: "\e68d";
}

.icon-taobaoyouduiqi1:before {
  content: "\e68c";
}

.icon-taobaozhongjianduiqi:before {
  content: "\e68a";
}

.icon-taobaoyouduiqi:before {
  content: "\e68b";
}

.icon-taobaoshangyibu:before {
  content: "\e691";
}

.icon-taobaoyangbanjian:before {
  content: "\e689";
}

.icon-taobaoa-3D:before {
  content: "\e688";
}

.icon-taobaowenjuantiaocha:before {
  content: "\e633";
}

.icon-taobaopilianggoumai:before {
  content: "\e632";
}

.icon-taobaoa-rongqi12:before {
  content: "\e631";
}

.icon-taobaonongyongwuzi1:before {
  content: "\e630";
}

.icon-taobaoa-rongqi4:before {
  content: "\e62f";
}

.icon-taobaoa-rongqi5:before {
  content: "\e62c";
}

.icon-taobaoa-rongqi1:before {
  content: "\e62d";
}

.icon-taobaodianchatou:before {
  content: "\e62e";
}

.icon-taobaojichu_shanchu:before {
  content: "\e62a";
}

.icon-taobaogongjulan_fankui:before {
  content: "\e62b";
}

.icon-taobaojichu_zengjia1:before {
  content: "\e629";
}

.icon-taobaotianjia-xin:before {
  content: "\e626";
}

.icon-taobaoduiqifangshi:before {
  content: "\e627";
}

.icon-taobaozhibo1:before {
  content: "\e628";
}

.icon-taobaobeijingyanse:before {
  content: "\e622";
}

.icon-taobaoshuzipaixu:before {
  content: "\e621";
}

.icon-taobaoa-huaxian-xin:before {
  content: "\e623";
}

.icon-taobaozitiyanse:before {
  content: "\e624";
}

.icon-taobaoxiahuaxian-xin:before {
  content: "\e625";
}

.icon-taobaoa-rongqi7991:before {
  content: "\e620";
}

.icon-taobaozhibo:before {
  content: "\e61e";
}

.icon-taobaozujian:before {
  content: "\e61d";
}

.icon-taobaoicon:before {
  content: "\e61a";
}

.icon-taobaojichu_zengjia:before {
  content: "\e61b";
}

.icon-taobaoqingchugeshi:before {
  content: "\e616";
}

.icon-taobaogeshishua:before {
  content: "\e60d";
}

.icon-taobaoa-rongqi788:before {
  content: "\e60e";
}

.icon-taobaoa-rongqi783:before {
  content: "\e60f";
}

.icon-taobaoa-rongqi790:before {
  content: "\e610";
}

.icon-taobaoa-rongqi785:before {
  content: "\e611";
}

.icon-taobaoa-rongqi792:before {
  content: "\e612";
}

.icon-taobaoxiahuaxian:before {
  content: "\e613";
}

.icon-taobaoa-shangyibuxiayibu:before {
  content: "\e615";
}

.icon-taobaowenzibangzhu:before {
  content: "\e687";
}

.icon-taobaoshengxian:before {
  content: "\e686";
}

.icon-taobaoa-gouwucheshangxiangjianshaojianshu:before {
  content: "\e684";
}

.icon-taobaoa-gouwucheshangxiangzengjiajianshu:before {
  content: "\e685";
}

.icon-taobaotaojianghu_tiezixiangqing_guanfangtuijian:before {
  content: "\e682";
}

.icon-taobaotaojianghu_tiezixiangqing_faxiangengduo:before {
  content: "\e683";
}

.icon-taobaoxinxishuoming:before {
  content: "\e681";
}

.icon-taobaozhankaimianban:before {
  content: "\e60c";
}

.icon-taobaozhediemianban:before {
  content: "\e60b";
}

.icon-taobaofenxiang1:before {
  content: "\e680";
}

.icon-taobaosousuo1:before {
  content: "\e67f";
}

.icon-taobaotaojianghushipin_quanping:before {
  content: "\e67a";
}

.icon-taobaotaojianghushipin_shengyin:before {
  content: "\e67b";
}

.icon-taobaotaojianghushipin_jingyin:before {
  content: "\e67c";
}

.icon-taobaotaojianghushipin_zanting:before {
  content: "\e67d";
}

.icon-taobaotaojianghushipin_bofang:before {
  content: "\e67e";
}

.icon-taobaobianji:before {
  content: "\e679";
}

.icon-taobaozhibo-tuichuquanping-mianxing:before {
  content: "\e608";
}

.icon-taobaozhibo-quanping-mianxing:before {
  content: "\e609";
}

.icon-taobaozhibo-zhibozhong:before {
  content: "\e60a";
}

.icon-taobaojiarugouwuche-xianxing:before {
  content: "\e607";
}

.icon-taobaozhibo-bukanTA-mianxing:before {
  content: "\e603";
}

.icon-taobaozhibo-zhibozhong-budaidi:before {
  content: "\e604";
}

.icon-taobaozhibo-tuichuxiaochuang-mianxing:before {
  content: "\e605";
}

.icon-taobaozhibo-xiaochuangmoshi-mianxing:before {
  content: "\e606";
}

.icon-taobaoshoujigoumaierweima:before {
  content: "\e678";
}

.icon-taobaoyimaidaodebaobei:before {
  content: "\e675";
}

.icon-taobaojifen:before {
  content: "\e676";
}

.icon-taobaoyouhui:before {
  content: "\e677";
}

.icon-taobaodaifahuo:before {
  content: "\e66f";
}

.icon-taobaoshouhuodizhi:before {
  content: "\e670";
}

.icon-taobaotuikuan:before {
  content: "\e671";
}

.icon-taobaosousuo:before {
  content: "\e672";
}

.icon-taobaodaipingjia:before {
  content: "\e673";
}

.icon-taobaodaishouhuo:before {
  content: "\e674";
}

.icon-taobaoshouye1:before {
  content: "\e66b";
}

.icon-taobaoshezhi:before {
  content: "\e66c";
}

.icon-taobaofapiao:before {
  content: "\e66d";
}

.icon-taobaodaifukuan:before {
  content: "\e66e";
}

.icon-taobaotianjialeimu:before {
  content: "\e66a";
}

.icon-taobaofenxiang:before {
  content: "\e656";
}

.icon-taobaoxiangji:before {
  content: "\e657";
}

.icon-taobaozhikanlouzhu:before {
  content: "\e658";
}

.icon-taobaoduanla:before {
  content: "\e659";
}

.icon-taobaoshanchu:before {
  content: "\e65a";
}

.icon-taobaoyidianzan:before {
  content: "\e65b";
}

.icon-taobaofabuxintie:before {
  content: "\e65c";
}

.icon-taobaowenbenjiacu:before {
  content: "\e65d";
}

.icon-taobaohuati:before {
  content: "\e65e";
}

.icon-taobaodianzan:before {
  content: "\e65f";
}

.icon-taobaohuidingbu1:before {
  content: "\e660";
}

.icon-taobaotianjiabiaoqing:before {
  content: "\e661";
}

.icon-taobaoyishoucang:before {
  content: "\e662";
}

.icon-taobaodamuzhi:before {
  content: "\e663";
}

.icon-taobaolianjie:before {
  content: "\e664";
}

.icon-taobaowenbenqingxie:before {
  content: "\e665";
}

.icon-taobaoshipinshangchuan:before {
  content: "\e666";
}

.icon-taobaoshouqi:before {
  content: "\e667";
}

.icon-taobaopinglun:before {
  content: "\e668";
}

.icon-taobaoguanbi:before {
  content: "\e669";
}

.icon-taobaotoupiao:before {
  content: "\e652";
}

.icon-taobaotupian:before {
  content: "\e653";
}

.icon-taobaozhikanTA:before {
  content: "\e654";
}

.icon-taobaotianjiabiaoge:before {
  content: "\e655";
}

.icon-taobaoa-xiegangfenge:before {
  content: "\e634";
}

.icon-taobaowangwang_zaixian:before {
  content: "\e635";
}

.icon-taobaowangwang_lixian:before {
  content: "\e636";
}

.icon-taobaowangwang_shoujizaixian:before {
  content: "\e637";
}

.icon-taobaozuji:before {
  content: "\e638";
}

.icon-taobaofankui:before {
  content: "\e639";
}

.icon-taobaojubao:before {
  content: "\e63a";
}

.icon-taobaoshoucang:before {
  content: "\e63b";
}

.icon-taobaowenjuan:before {
  content: "\e63c";
}

.icon-taobaogouwuche:before {
  content: "\e63d";
}

.icon-taobaomaiguodedian:before {
  content: "\e63e";
}

.icon-taobaokefu:before {
  content: "\e63f";
}

.icon-taobaoshoucangdedian:before {
  content: "\e640";
}

.icon-taobaoxiaojiantou8px:before {
  content: "\e641";
}

.icon-taobaoliebiao:before {
  content: "\e642";
}

.icon-taobaohualang:before {
  content: "\e643";
}

.icon-taobaotushuwenjiao:before {
  content: "\e644";
}

.icon-taobaodiannaowenju:before {
  content: "\e645";
}

.icon-taobaomeizhuangxihu:before {
  content: "\e646";
}

.icon-taobaoshoujishuma:before {
  content: "\e647";
}

.icon-taobaojiazhuangbaihuo:before {
  content: "\e648";
}

.icon-taobaoxiexue:before {
  content: "\e649";
}

.icon-taobaoqichehuwai:before {
  content: "\e64a";
}

.icon-taobaonanzhuangnvzhuang:before {
  content: "\e64b";
}

.icon-taobaomuyingjiankang:before {
  content: "\e64c";
}

.icon-taobaowujinjidian:before {
  content: "\e64d";
}

.icon-taobaoshouye:before {
  content: "\e64e";
}

.icon-taobaohuidingbu:before {
  content: "\e64f";
}

.icon-taobaowangwang:before {
  content: "\e650";
}

.icon-taobaoxiaoxi:before {
  content: "\e651";
}

